body {
    background-color: #e0e0e0;
    font-family: Arial, sans-serif;
}

.tab-bar {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
   height: 100px;
}
.tab-bar 
.header-container .header span{
   padding-left: 20px;
   padding-top: 20px;
}
.btn-orange {
    background-color: orange;
    border-color: orange;
    color: white;
}
.logo img {
    height: 50px;
}

.header-container {
    background: linear-gradient(to right, #003366, #004080);
    color: white;
    border-radius:  20px 20px 0 0;
   height: 250px;
}


.panel {
    
    background: white;
    border-radius: 10px;
    
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
     margin-top: -10rem;
    
    
}
.panel .newbuton{
    text-align: center;
}


.new-btn {
   margin-top: 10px;
    width: 30%;
    font-size: 1rem;
   
}

.export-btns {
    display: flex;
    justify-content: center;
   
}

.export-btns button {
   
    width: 50%;
    height: 40px;
}

.search-bar {
    display: flex;
    margin-top: 20px;
}
.serchtext{

    display: flex;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.search-btn {
    margin-left: 10px;
}
.container .customer-list{
    display: flex;
}

.customer-list .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    
}
.customer-list .list-group-item .button{
    flex: 1;
    display: flex;
    right: 0;
    justify-content: space-between;

}
.customer-list .list-group-item .user{
     flex: 8;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
    overflow:hidden;
    
}


.customer-list .btn {
    margin-right: 5px;
}

.btn-close-right {
    position: absolute;
    top: 1rem;
    right: 1rem;
    
    
}
.btn-darkblue{
    background-color: #2f6faf;
    border-color: #2f6faf;
    color: white;
    border-radius: 50%;
}
.offcanvas-body ul {
    list-style: none;
    padding: 0;
    
}
.selbtn{
    background: linear-gradient(to right, #3f7cb8, #3f7fbe);
    color: white;
}

.offcanvas-body ul li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    background-color: white;
    color: grey;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.offcanvas-body ul li a:hover {
   background-color: #004080;
    color: white;
}
.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.offcanvas-header span {
    display: flex;
    align-items: center;
}
.offcanvas-header img {
    margin-right: 10px; 
    width: 100px;
    height: 50px;
}

.info-item {
    display: flex;
    align-items: center;
    
    justify-content: space-between;

}

.info-item p {
    margin: 0;

}
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.info-item button {
   
   background-color: white;
   border-color: white;
   

}
.info-item button:hover{
    background-color: green;
    color: white;
}
.copy-button {
    display: flex;
    flex: 2;
    position: absolute;
    right: 0;
    margin-right: 10px;
}
.customer-details .info-item {
    display: flex;
    flex-wrap: wrap;
    flex: 8;
    
    border-radius: 5px;
}
.container {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    
}

.islembtn {
  width: 100%;
   border-radius: 20px;
   
}
.btn-custom {
    width: 128px;
    height: 128px;
    border-radius: 20px;
}


